/*  
    Add background image and set the container div. 
    - The goal here is a background image on a website that covers the entire browser window at all times.
*/

body {
    background: url("../images/background.png") no-repeat center center fixed;
    background-size: cover;
}

/*
    The container holds all objects in this page. for that I use flex display. 
*/

.container {
    width: 80%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    min-height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0.5;
    padding: 5px;
    z-index: 100;
    border-radius: 10px;

}

/*
    Header specify fieldset header style
*/

.header {
    position: relative;
    color: rgb(95, 0, 139);
    font-weight: 500;
    font-size: 30px;
}

/* 
    form card width
*/
.card {
    width: 55%;
}

.form_card {
    width: 40%;
}

.result_card {
    width: 100%;
}

/*
    fieldset styles
*/

.fieldset {
    padding: 10px;
    border-radius: 10px;
}

/*
    All Buttons unic style
*/
.button {
    width: 120px;
    height: 25px;
    text-align: center;
    background-color: rgb(95, 0, 139);
    color: white;
    border-radius: 10px;
}

/*
    Error section 
*/
.action_result {
    display: none;
    display: flex;
    justify-content: center;
    background-color: rgb(179, 144, 212);
    opacity: 0.7;
    padding: 5px;
}

/*
    Show profile image in circule 
*/
#avatar{
    border-radius: 50%;
    width: 40%;
    height: 40%;
    display: inline;
    margin: 10px;
}

/*
    Info section
*/
.user_info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/*
    Bio section (gray rectangle)
*/
#userBio{
    padding: 10px;
    border-radius: 10px;
    background-color: gray;
    margin: 5px;
}

/*
    Text info like (Name, Blog, Location)
*/
#text_info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
}

/*
    Title in text (Bold)
*/
.title{
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*
    field set of right section
*/
.from_fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
    input box for username
*/
#name{
    margin: 5px;
    border-radius: 5px;
    border-color: rgb(65, 65, 65);
}

/*
    favorite language box
*/
.favorite_lang{
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(165, 165, 165, 0.315);
    margin: 5px;
}